button, input[type="submit"] {
    box-sizing: border-box;
    background: var(--lgy);

    line-height: 22px;
    font-size: 16px;
}

button:active, input[type="submit"]:active {
    filter: brightness(0.87);
}

